:root {
  --header-color: #855a5a;
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tagesschrift", system-ui;
}

header {
  background-color: var(--header-color);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  height: 40px;
  margin-right: 1rem;
  border-radius: 7px;
}

.left-header h1 {
  font-size: 1.5rem;
  margin: 0;
}

nav button:not(:last-child) {
  margin-right: 1rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

nav button:not(:last-child):hover {
  text-decoration: underline;
}

nav button:focus:not(:last-child) {
  outline: none;
  color: #e9e2e2;
}

#add-todo {
  color: var(--header-color);
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}

#add-todo:hover {
  background-color: #f0f0f0;
  box-shadow: 5px 5px 8px -1px #572531;
}

#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#home-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#home-page p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#home-page img {
  width: 200px;
  height: auto;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 2rem;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

dialog form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.5rem;
}

dialog form input,
textarea,
select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

dialog form input:focus,
textarea:focus {
  /* outline: none; */
  border-color: var(--header-color);
  box-shadow: 0 0 5px var(--header-color);
}

textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 30px;
}

dialog form button {
  padding: 0.5rem 1rem;
  background-color: var(--header-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}
dialog form button:hover {
  background-color: #6b4545;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.home-description li {
  list-style-type: none;
  font-size: 1.3rem;
}

.home-description li::before {
  content: "✔ ";
}

#project-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 0.1rem 2rem;
}

.add-project-button {
  padding: 0.5rem;
  background-color: var(--header-color);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.add-project-button:hover {
  background-color: #6b4545;
  box-shadow: 0 0 10px #6b4545;
}
.project-dialog-buttons {
  display: flex;
  justify-content: space-evenly;
}

.error-validation {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.project-item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

#projects-list {
  align-self: center;
  margin: auto;
  font-size: 1.2rem;
}

#project-select,
#project-select option {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#project-select:hover,
#project-select option:hover {
  background-color: #f0f0f0;
}

#todoBox-title {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

#todoBox-dueDate {
  font-size: 0.8rem;
  color: #555;
  margin-left: 2rem;
}

input[type="checkbox"] {
  transform: scale(0.8);
  margin-right: 0.5rem;
}

#todoBox-description {
  font-size: 0.9rem;
  margin-left: 2rem;
}

#todoBox-priority {
  font-size: 0.8rem;
  color: #555;
  margin-left: 2rem;
}

.project-title-div {
  display: flex;
  justify-content: space-between;
}

.project-buttons-span {
  display: flex;
  gap: 0.7rem;
}

.project-buttons-span button {
  padding: 0.1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.project-buttons-span button:hover {
  border: 1px solid var(--header-color);
  border-radius: 5px;
}

.todo-buttons-span {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.todo-buttons-span button {
  padding: 0.1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
}

.todo-buttons-span button:hover {
  border: 1px solid var(--header-color);
  border-radius: 5px;
}

.todo-title {
  display: flex;
  align-items: center;
}

#edit-project-dialog-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

#confirm-buttons-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}
